*{ 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0; 
    list-style: none; 
    box-sizing: border-box;
}
body{
    font-family:Arial, sans-serif;
}
.dark-mode summary{
    color: #fff;
    background: #000;
    border: 1px solid #fff;
}
ul{
    margin:5px;
}
ul li{
    margin:3px;
    padding: 5px;
    cursor: pointer;
}
details{
    width: 80%;
    margin-left: 10%;
}
summary{
    font-size: 17px;
    font-weight:650;
    color: #000;
    background: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;    
    padding: 6px;   
}